<h1>CRIPTO</h1>

<!--  VALOR DO DOLAR  -->

<p id="dolar"><%= @dolar.round(2) %></p>

<textarea class="texto" placeholder="TEXTO PARA CRIPTOGRAFAR">
</textarea>

<input type="Button" value="Criptografar" class="criptografar"></input>
<input type="Button" value="Descriptografar" class="descriptografar"></input>

<textarea class="criptografia" placeholder="CRIPTOGRAFIA PARA DESCRIPTOGRAFAR">
</textarea>
